<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>userReg</servlet-name>
        <servlet-class>actionS.userReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerReg</servlet-name>
        <servlet-class>actionS.ownerReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lohinAction</servlet-name>
        <servlet-class>actionS.lohinAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadAction</servlet-name>
        <servlet-class>actionS.uploadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailAction</servlet-name>
        <servlet-class>actionS.mailAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminReg</servlet-name>
        <servlet-class>actionS.adminReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AloginAction</servlet-name>
        <servlet-class>actionS.AloginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdate</servlet-name>
        <servlet-class>actionS.adminUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apassUpdate</servlet-name>
        <servlet-class>actionS.apassUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServers</servlet-name>
        <servlet-class>actionS.addServers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOwner</servlet-name>
        <servlet-class>actionS.addOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerUpdate</servlet-name>
        <servlet-class>actionS.ownerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerLogin</servlet-name>
        <servlet-class>actionS.ownerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accessFile</servlet-name>
        <servlet-class>actionS.accessFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileReq</servlet-name>
        <servlet-class>actionS.fileReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserpUpdate</servlet-name>
        <servlet-class>actionS.UserpUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aoupdate</servlet-name>
        <servlet-class>actionS.Aoupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addD</servlet-name>
        <servlet-class>actionS.addD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSD</servlet-name>
        <servlet-class>actionS.addSD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHK</servlet-name>
        <servlet-class>actionS.CHK</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userReg</servlet-name>
        <url-pattern>/userReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerReg</servlet-name>
        <url-pattern>/ownerReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lohinAction</servlet-name>
        <url-pattern>/lohinAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadAction</servlet-name>
        <url-pattern>/uploadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailAction</servlet-name>
        <url-pattern>/mailAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminReg</servlet-name>
        <url-pattern>/adminReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AloginAction</servlet-name>
        <url-pattern>/AloginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdate</servlet-name>
        <url-pattern>/adminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apassUpdate</servlet-name>
        <url-pattern>/apassUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServers</servlet-name>
        <url-pattern>/addServers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOwner</servlet-name>
        <url-pattern>/addOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerUpdate</servlet-name>
        <url-pattern>/ownerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerLogin</servlet-name>
        <url-pattern>/ownerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accessFile</servlet-name>
        <url-pattern>/accessFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileReq</servlet-name>
        <url-pattern>/fileReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserpUpdate</servlet-name>
        <url-pattern>/UserpUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aoupdate</servlet-name>
        <url-pattern>/Aoupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addD</servlet-name>
        <url-pattern>/addD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSD</servlet-name>
        <url-pattern>/addSD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHK</servlet-name>
        <url-pattern>/CHK</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
